* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  user-select: none;
}

.center-box {
  position: fixed;
  top: 14.5rem;
  left: 11.5rem;
  display: flex;
  flex-direction: column;
}

.center-form-box {
  position: fixed;
  top: 8.5rem;
  left: 7.5rem;
}

.content-container {
  overflow-y: hidden;
  overflow-x: auto;
}
