@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-color: #172b4d;
  --secondary-color: #f2f2f2;
  --gray-shade-color: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 3.5rem;
  user-select: none;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.border-primary {
  border-color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.border-secondary {
  border-color: var(--secondary-color);
}

::-moz-selection {
  color: var(--secondary-color);
  background: var(--primary-color);
}

::selection {
  color: var(--secondary-color);
  background: var(--primary-color);
}

.is-h-blue {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.is-h-blue:hover {
  color: var(--secondary-color);
}

.is-h-blue.is-outlined {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.is-h-blue.is-outlined:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.center-box {
  position: fixed;
  top: 12.5rem;
  left: 4.5rem;
  display: flex;
  flex-direction: column;
}

.center-form-box {
  position: fixed;
  top: 10.5rem;
  left: 2rem;
}

.content-container {
  overflow-y: hidden;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-shade-color);
}

#hangarFinder {
  width: 156px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

#hangarFinder:focus {
  width: 100%;
}

input[type='date' i] {
  outline: none;
  color: var(--primary-color);
}

input[type='date' i]:focus {
  outline: none;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  background: linear-gradient(
    90deg,
    var(--secondary-color) 50%,
    var(--secondary-color) 50%
  );
  outline: none;
  opacity: 0.8;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 4px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}
